body{
    background: #778899;
    font-family: open sans light;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.major{
      background: white;
}
.main{
      border-bottom: 1px solid black;
}
.main img{
      height:80px;
}
.main nav a{
        display:inline;
        text-decoration: none;
        float:right;
        padding:8px;
        font-size: 20px;
        padding-top: 40px;
        color:black;
        font-family: 'Open Sans', sans-serif;
}
 nav a:hover{
      color: blue;
}
.main2 h3{
      text-align: center;
      padding-top: 40px;
      font-family: open sans light;
      font-size: 30px;
      text-decoration: none;
      color:#313131;
}
.image img{
      padding-top: 40px;
      height:550px;
      width:959px;
}
.main2 img{
      padding-top: 5px;
      height:640px;
      width:960px;
}
.service h1{
      text-align: center;
      padding-top: 20px;
      padding-bottom: 10px;
      text-decoration: none;
      font-size: 40px;
      color:#313131;
}
.service p{
      color:black;
}
.service h2{
      padding-top: 10px;
      font-size: 20px;
      color:black;
}
.service h5{
      padding-bottom: 5px;
      font-size: 15px;
      color:black;
      margin-right: 200px;
}
.service img{
      padding: 2px;
      width: 300px;
      height: 250px;
      padding-top: 20px;
      border: 0px;
}
.service a{
    text-decoration: none;
}
.section1 {
    padding-top: 80px;
    padding-bottom: 40px;
    color:black;
}
.section1 h1{
    font-size: 20px;
}
.section2{
    padding-top: 40px;
    color:black;
    padding-bottom: 20px;
}
.section2 h1{
    font-size: 20px;
}
.footer{
    background:	#B2BEB5;
}
.footer h1{
    font-size: 20px;
    padding-top: 10px;
}
.footer form{
    padding-top: 20px;
}
 a:hover{
   color:red;
}
body h5{
    padding-top: 15px;
}
body h4{
    text-align: center;
    background:#B2BEB5;
}
.footer img{
    display: list-item;
    height: 30px;
    width:60px;
    padding-top: 40px;
    padding: 4px;
}
.footer a{
    padding-top: 10px;
    padding: px;
    display: list-item;
    list-style: none;
    text-decoration: none;
    padding-left: 80px;
}
.footer h1,p{
      color:black;
}
.footer p{
    padding-top: 10px;
}
.major h4{
    text-align: center;
    background:#B2BEB5;
}
